body {
  background-color: #145ca6;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
  
  nav {
    background: #A0CFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:6px;
    padding-left: 15px;
    border-radius:25px;
    outline: 2px double #002A56;
  }
  
  button {
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 15px;
    padding: 6px;
    border-radius: 50px;
    font-family: Arial , serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(rgb(22, 103, 185) 0%, rgb(23, 106, 190) 41%, rgb(14, 64, 117) 100%);
    border: 2px solid #002A56;
    float: right;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-right:8px;
    display:flex;
  justify-content: flex-end;}
  
  button:hover {
    background: #1667B9;
  }
  
  button:active {
    background: #0E4075;
  }
  footer{
    display: inline;
    justify-content: space-between;
  }
  .nombre{
    font-size:30px;
    font-weight:920;
    vertical-align:50%;
    padding-top:80px;
  }
  .card {
    outline: 2px double #002A56;
    padding-bottom: 45px;
    padding-top:8px;
    padding-left:15px;
    padding-right:10px;
    margin-top: 15px;
    margin-bottom:15px;
    margin-left:6px;
    background:#A0CFFF;
    border-radius:17px;
  }
  .fotoportada {
    border-radius:25px;
    outline: 2px solid #002A56;
    margin:2px;
  }
  .fotoperfil{
    border-radius:50%;
    width:100px;
    height:100px;
    outline: 2px solid #002A56;
    float: left;
  }